<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.rap.ui.entrypoint">
      <entrypoint
            class="org.eclipse.rap.rwt.supplemental.filedialog.demo.EntryPoint"
            id="org.eclipse.rap.rwt.supplemental.filedialog.demo.EntryPoint"
            parameter="filedialog">
      </entrypoint>
   </extension>
   <extension
         point="org.eclipse.rap.ui.branding">
      <branding
            defaultEntrypointId="org.eclipse.rap.rwt.supplemental.filedialog.demo.EntryPoint"
            id="org.eclipse.rap.rwt.supplemental.filedialog.demo.EntryPoint.branding"
            servletName="filedialog"
            title="File Dialog Demo">
      </branding>
   </extension>

</plugin>
